<div class="container">
    <div class="text animate__animated animate__bounce">
        <h2>Hola, Soy Oscar.</h2>
        <h1>Full Stack Developer.</h1>
        <p>Soy un programador Full Stack con varios meses de experiencia en el sector. Aunque mi experiencia es
            limitada, estoy altamente motivado y comprometido a aprender y desarrollar mis habilidades como programador
            Full Stack. Tengo conocimientos sólidos en tecnologías como Angular, Bootstrap, Node.js, Express.js, MySQL y
            MongoDB, entre otros, y estoy ansioso por aplicar mis habilidades en un entorno de trabajo dinámico y
            desafiante.</p>

    </div>
    <div class="photo col-6">
    </div>


</div>