<div class="container" [ngClass]="{'active': active}">
    <div class="text animate__animated animate__bounce">
        <h2>Hola, Soy Oscar.</h2>
        <h1>Full Stack Developer.</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam tenetur ut laudantium beatae pariatur
            molestiae, sequi suscipit necessitatibus totam harum! Commodi, ea! Esse, nihil sit. Eaque, nulla quia
            nostrum est voluptatum asperiores voluptatibus, doloremque laboriosam temporibus velit ipsum, ducimus
            inventore blanditiis reprehenderit aut iure. Nobis nemo culpa natus blanditiis quam totam quaerat ut, sunt
            ipsa excepturi odio molestias debitis, corporis ad rem eveniet facere? Saepe reprehenderit, totam cupiditate
            modi enim culpa in odio soluta non assumenda quis obcaecati, quasi neque vel, ipsum vitae autem minima?
            Repellat laboriosam officiis libero labore. Ab sed illum doloremque laudantium, est ipsam quam, temporibus,
            nesciunt quasi distinctio molestias perferendis quaerat expedita perspiciatis odit atque impedit voluptatum
            eos accusamus commodi placeat similique ipsa! Dicta quo eaque molestias porro esse. Vel, saepe. Dolor illum
            consequuntur nisi eligendi rem ipsam repellat facilis, fugit accusantium modi? Laboriosam exercitationem
            doloremque amet hic non odit maiores. Voluptas illo in expedita mollitia illum? Animi ullam consequatur
            tenetur enim fugiat quae delectus earum sequi modi voluptatum, impedit laboriosam? Molestias iure totam
            voluptatibus fuga minima minus modi reiciendis amet libero, nobis possimus consequatur ipsum est ab
            asperiores animi accusantium, itaque in eius iusto! Ullam minus facilis necessitatibus ad sit odio adipisci
            doloribus maiores repellendus!</p>

    </div>
    <div class="photo col-6">
    </div>


</div>