<nav class="navigation">
    <div>
        <img src="../../../assets/images/mi_firma_blanca.png" alt="Logo">
        <div class="toggle" (click)="toggleMenu()" [ngClass]="{'rotate': active}">
            |||
        </div>
    </div>
    <ul class="navigation_list" [ngClass]="{'active': active}">
        <li>
            <a class=" navigation_link" routerLink="/home">Inicio</a>
        </li>
        <li>
            <a class="navigation_link" routerLink="/about">Sobre mi</a>
        </li>
        <li>
            <a class="navigation_link" routerLink="/contact">Curriculum</a>
        </li>

        <li>
            <a class="navigation_link" routerLink="/contact">Contacto</a>
        </li>
    </ul>
</nav>